<h1>Blog#index</h1>
<p>Esto es texto simple</p>

## Header
## Partial / helper / componente
<%= render 'partials/header' %>

## Listado de artículos

<%= link_to("Contactanos", contact_us_path, class: "link-to-contact") %> ## Me lleva a /contact

<%= link_to("Prices", prices_url, class: "link-to-contact") %> ## Me lleva a http://localhost:3000/prices

## Barra lateral

