<h1>Blog#new</h1>

<form action="" method="">
<input type="text" placeholder="Ingrese nombre acá"></input>
<input type="password" placeholder="Ingrese password"></input>
<input type="submit"></input>
</form>